[submodule "roles/jnv.unattended-upgrades"]
	path = roles/jnv.unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades
[submodule "roles/base"]
	path = roles/base
	url = https://github.com/n0emis/ansible-role-base
[submodule "roles/geerlingguy.elasticsearch"]
	path = roles/geerlingguy.elasticsearch
	url = https://github.com/geerlingguy/ansible-role-elasticsearch
[submodule "roles/geerlingguy.java"]
	path = roles/geerlingguy.java
	url = https://github.com/geerlingguy/ansible-role-java
