[Unit]
Description=Import mastodon posts to elasticsearch
After=elasticsearch.service
After=system-postgresql.slice

[Service]
Type=simple
User=mastodon
WorkingDirectory={{ mastodon_path }}
Environment="RAILS_ENV=production"
ExecStart={{ mastodon_home }}/.rbenv/shims/bundle exec bin/tootctl search deploy
StandardOutput=journal
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
