#!/bin/bash

cd {{ mastodon_home }};

SERVICES="mastodon-web mastodon-sidekiq mastodon-streaming"

systemctl stop $SERVICES
su - mastodon -c "cd {{ mastodon_home }} && pg_dump -Fc {{ mastodon_db }} > backup.dump"
systemctl start $SERVICES


restic init --password-file /root/restic-key --repo {{ backup_restic_repo }}
restic backup --password-file /root/restic-key --repo {{ backup_restic_repo }} --files-from {{ mastodon_home }}/backup_paths